
<%= form_for @painting do |f| %>
   <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
   </div>
   <p>
     <%= f.file_field :image %>
   </p>
   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
