
  <table>
    <%= render(cart.line_items) %>
    <tr class="total_line">
      <td colspan="2"><h5>Total</h5></td>
      <% if cart.total_price == cart.action_price %>
        <td class="total_cell"><b><%= number_to_currency(cart.total_price) %></b></td>
      <% else %>  
        <td class="total_cell"><h5><s><%= number_to_currency(cart.total_price) %></s></h5></td> 
        <td class="action_cell"><h5><b><%= number_to_currency(cart.action_price) %></b></h5></td>  
      <% end %> 
    </tr>
  </table>
  <% if (cart.total_price - cart.action_price) > 0 %>
    <center>
      <h5>Save: <%= number_to_currency(cart.total_price - cart.action_price) %></h5>
    </center>
  <% end %>
  <div class="inline_button">
    <%= button_to t('.checkout'), new_order_path, method: :get, :class => 'btn btn-success'  %>
    <%= button_to t('.empty'), cart, method: :delete, confirm: 'Are you sure?',:class => 'btn btn-default' %>
   </div>
