<h2>Listing products</h2>

<%= button_to "New Product", @new_path, { :class => "btn btn-primary", :style => "font: small-caps 16px/16px 'TimesMew Roman';", 'data-toggle' => "modal", 'data-target' => '.fade'} %>'


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
        <h2>New Product</h2>
      </div>
      <div class="modal-body">
        <%= render 'products/form', new_product: @product_a %>
      </div>
    </div>
  </div>
</div>      
<br/>
  <table>
  <%@products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
             <dd><%= truncate(strip_tags(product.description),length: 80) %></dd>
        </dl>
      </td>
      <td class= "list_actions">
        <%= link_to 'Show', product %><br/>
        <%= link_to 'Edit', edit_product_path(product) %><br/>  
        <%= link_to 'Destroy', product,confirm: 'Are you sure?',method: :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<br/>


