
<h1>Top products</h1>
<ul class="bxslider">
  <li><center><%= image_tag("car.jpg") %></center></li>
  <li><center><%= image_tag("computer.JPG") %></center></li>
  <li><center><%= image_tag("book.JPG") %></center></li>
</ul>
 <% @products.each do |product| %>
 <div class="entry">
    <%= image_tag(product.image_url) %>
    <div class="one">
    <h3><%= product.title %></h3>
    <p class="desc"><%= sanitize(product.description) %></p>
    </div>  
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %>  
      <%=button_to 'Add to Cart', line_items_path(product_id: product) %>
      </div> 
 </div>
<% end %>
